.cover {
  @include media-breakpoint-up(md) {
    min-height: 80vh !important;
  }

  .row {
    width: 100vw;
  }
}

.cover-img {
  height: 200px;

  @include media-breakpoint-up(md) {
    height: auto;
  }
}


