.img-link {
  &:hover {
    opacity: 0.8;
  }
}

.bg-image {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

.pswp {
  --pswp-bg: black;
}
