// hamburgers

$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 25px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-color: rgba(180, 176, 166, 1);
$hamburger-hover-opacity: 0.7;
